<form class="d-flex flex-column justify-content-center" action="/users/" method="POST">
    <div class="mb-3">
      <label for="email" name="email" class="form-label">Email</label>
      <input type="email"name="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" name="password"class="form-label">Password</label>
      <input type="password"name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-danger btn-lg fw-bold">Login</button>
  </form>
